<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dell.app9">

<uses-permission android:name="android.permission.INTERNET"/>

<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

<application
    android:allowBackup="true"
    android:icon="@drawable/signin_logo"
    android:label="@string/app_name"
    android:roundIcon="@drawable/signin_logo"
    android:supportsRtl="true"
    android:resizeableActivity="false"
    android:theme="@style/AppTheme">
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBcfE-YgXF1b-V7Z8TDRphvX4EMwIN9h3U"/>
    <activity android:name=".SplashScreen"
              android:theme="@style/ThemeOverlay.MyNoTitleActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity android:name=".PhoneAuthActivity">

    </activity>
    <activity android:name=".displayDetails"
    />

    <activity android:name="com.example.dell.app9.BeforeRequestMapsActivity"
              android:label="@string/title_activity_before_request_maps">

    </activity>

    <!-- </activity> -->
    <activity
        android:name=".MapsActivity2"
        android:label="@string/title_activity_maps2">
    </activity>

</application>


</manifest>

